* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.main__body {
 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:auto;
}

.nav {

    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 84px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.nav__logo {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 84px;

}

.nav__a {

    display: flex;
    flex-direction: row;
    height: 84px;
    width: 60%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav__a__a {
    color: aliceblue;
    text-decoration: none;
}

.nav__a__a1 {
    background-color: #0000ff;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    padding: 30px;
}
.article{
   display: flex;
   flex-direction: column; 
}
.article__header__title{
    font-size: 48px;
    padding: 30px;
}
.div1{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 30px;
}
.div1__profes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;

}

.div__img{
    height: 100%;
    width: 100%;

}
.div1__profes__link{
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
}
.article__header{
    padding: 0 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: 84px;
}
.footer__text{
    width: 100%;
    height: 84px;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.footer__redes{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 84px;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 30px;
}
.footer__redes__box{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    padding: 10px; 
}

.footer__redes__icon{
    width: 50px;
    height: 50px;
}